.timeline {
  color: rgb(32, 3, 88);
  text-align: center;
  text-shadow: 1px 2px 5px rgba(243, 242, 242, 0.9);
}

.timeline div {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.uptravels{
  background-image: url(/Trabalho-WebB-sico/assets/img/up-2.jpg);;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.serviços{
  background-image: url(/Trabalho-WebB-sico/assets/img/serviços.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pacotes{
  background-image: url(/Trabalho-WebB-sico/assets/img/pacotes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.time{
  background-image: url(/Trabalho-WebB-sico/assets/img/times.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.aventura{
  background-image: url(/Trabalho-WebB-sico/assets/img/aventura.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1{
  margin: 0;
}

h2,h3{
  margin-top: 0;
}
