.timeline {
  color: rgb(32, 3, 88);
  text-align: center;
  text-shadow: 1px 2px 5px rgba(243, 242, 242, 0.9);
}


.timeline div {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.uptravels{
  background-image: url('/assets/img/up-2.jpg');;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.uptravels p h1{
  background-color: rgba(255, 255, 255, 0.5);
}

.serviços{
  background-image: url('/assets/img/serviços.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.serviços h3 p{
  background-color: rgba(255, 255, 255, 0.5);
}

.pacotes{
  background-image: url('/assets/img/pacotes.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.pacotes h3 p{
  background-color: rgba(255, 255, 255, 0.5);
}

.time{
  background-image: url('/assets/img/times.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.time h3 p{
  background-color: rgba(255, 255, 255, 0.5);
}

.aventura{
  background-image: url('/assets/img/aventura.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.aventura h3 p{
  background-color: rgba(255, 255, 255, 0.5);
}

h1{
  margin: 0;
}

h2,h3{
  margin-top: 0;
}
