main {
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #333;
    font-size: 24px;
}

form{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

input {
    flex-grow: 1;
    flex-basis: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

.button {
    flex-grow: 1;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.main {
    margin-bottom: 110px;
}