body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #65cdf6
}

h1{
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    overflow-x: auto;
}

th{
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
    background-color: #0482ff;
    white-space: nowrap; 
}

td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
    background-color: #d3d3d3;
    white-space: nowrap; 
}

.registrar{
    margin-top: 10px;
    background-color: #027afa;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    width: 120px;
    height: 45px;
    text-align: center;
    margin-left: 0;
    margin-bottom: 100px;
}

.botoes{
    text-align: right;
}

.registrar:hover{
    background-color: #0056b3;
}

