*{
    margin: 0;
    padding: 0; 
}

body {
    
    background-image: url('/assets/img/backgroud2.jpg');
    background-size: 100% auto;
    background-position: center;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

.container {
    width: 80%;
    max-width: 650px;
    height: 40vh;
    background-color: #fff;
    border-radius: 20px;
    margin: auto;
    margin-top: 5%;

    box-shadow: 10px 8px 25px 5px rgba(64,61,61,0.67);
    -webkit-box-shadow: 10px 8px 25px 5px rgba(64,61,61,0.67);
    -moz-box-shadow: 10px 8px 25px 5px rgba(64,61,61,0.67);
}

.campos {
    margin: 5% 10%;
}

.campo__titulos {
    display: flex;
    justify-content: center;
}

#campo__titulo {
    font-size: 15px;
    font-weight: 800;
    color: rgb(58, 58, 58);

    margin-top: 20px;
    margin-bottom: 5%;
}

.campo__caixaTexto {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.campo__caixaTexto input {
    height: 40px;
    border: 1px solid silver;
    border-radius: 5px;
    margin-bottom: 5%;
}

#btnRecuperar {
    width: 100%;
    border: none;
    background-color: blue;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}